name: Release

on:
  workflow_dispatch:

jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Set nx shas
        uses: nrwl/nx-set-shas@v4

      - name: Setup environment
        uses: ./.github/actions/setup-env

      - name: Generate token
        id: generate-token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.SEMANTIC_RELEASE_APP_ID }}
          private_key: ${{ secrets.SEMANTIC_RELEASE_KEY_PEM }}

      - name: Semantic release
        uses: cycjimmy/semantic-release-action@v5
        id: semantic-release
        with:
          semantic_version: 22.0.5
          extra_plugins: |
            @semantic-release/changelog@6.0.3
            @semantic-release/git@10.0.1
            conventional-changelog-conventionalcommits@7.0.2
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}

      - name: 'Login to container registry'
        if: steps.semantic-release.outputs.new_release_published
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish container images
        if: steps.semantic-release.outputs.new_release_published
        env:
          VERSION: ${{ steps.semantic-release.outputs.new_release_version }}
        run: |
          npx nx run-many --target=api-container-image --configuration=release --parallel=3 || echo "No projects for api container image build"
          npx nx run-many --target=worker-container-image --configuration=release --parallel=3 || echo "No projects for worker container image build"
          npx nx run-many --target=server-container-image --configuration=release --parallel=3 || echo "No projects for server container image build"
